#owners {
	-webkit-transform: rotateX(180deg) scaleX(0.196) scaleY(0.196) translateX(1090px) translateY(-1890px);
}

#connections {
	-webkit-transform: rotateX(180deg) scaleX(0.195) scaleY(0.195) translateX(1100px) translateY(-1890px);
}

#outside_dep_connections {
	-webkit-transform: rotateX(180deg) scaleX(0.195) scaleY(0.195) translateX(1100px) translateY(-1890px);
}

#inside_dep_connections {
	-webkit-transform: rotateX(180deg) scaleX(0.195) scaleY(0.195) translateX(1100px) translateY(-1890px);
}

#labels {
	-webkit-transform: rotateX(180deg) scaleX(0.196) scaleY(0.196) translateX(1100px) translateY(-1900px);
}

/*text {
	-webkit-transform: rotateZ(180deg)
}*/
#tab {
	width: 140px;
	height: 650px;
	float: left;
	background: #ddd;
}

#diveInDesc {
	margin: 5px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 17px;
  float: right;
  margin-right: 30px;
  margin-top: 2px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2.5px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 14px;
}

.slider.round:before {
  border-radius: 50%;
}

#container {
	float: left;
}

svg {
	-webkit-transform: rotateX(180deg);
	float: left;
}

#ConnLegend {
	width: 250px;
	height: 170px;
	border:2px solid #a1a1a1;
	border-radius:10px;
}

h4 {
	margin: 5px;
	text-align: center;
}

.item {
	height: 20px;
	//border: 1px solid;
	font-size: 12px;
}

.itemdetail {
	float: left;
	//border: 1px solid;
	height: 19px;
}

.sample {
	width: 83px;
	margin-left: 7px;
}

.dscrpt {
	margin-left: 2px;
	width: 150px;
}

#ownerLegend {
	height: 120px;
	width: 200px;
	margin-top: 10px;
	border:2px solid #a1a1a1;
	border-radius:10px;
}

.ownerItem {
	height: 20px;
	//border: 1px solid;
}

.ownerDetail {
	float: left;
	//border: 1px solid;
	height: 19px;
}

.ownerSample {
	position: relative;
	bottom: 20px;
	width: 23px;
	height: 10px;
	margin-left: 7px;
	font-size: 50px;
}

#technologySample {
	margin-top: 10px;
}

.ownerDscrpt {
	margin-left: 2px;
	width: 150px;
	font-size: 12px;
}

#technology {
	margin-top: 10px;
}

#panel {
	float: left;
	margin-left: 20px;
}

.legendLine {
	border-bottom: 2px solid;
	margin-top: 8px;
	width: 25px;
}

#edgeInformation {
	-webkit-transform: rotateY(180deg) rotateY(180deg);
	clear: left;
	//margin-left: 100px;
	margin-top: 10px;
	border:2px solid #a1a1a1;
	border-radius:10px;
}
